<div id="test-disclaimer">
  Atenção: sistema em testes. Por favor, caso note algum problema, envie e-mail para bug@escambo.org.br. Melhor ainda se cadastrar na <a target="_blank" href="http://lists.escambo.org.br/listinfo.cgi/escambo-escambo.org.br">lista de discussão</a> e contribuir no desenvolvimento do software. Obrigado!
  <span class="close"><%= _('Close') %></span>
</div>

<div id="footer-wrap-1">
  <div id="footer-wrap-2">

    <div id="footer-devel">
      O <b>escambo</b> é desenvolvido e mantido pelo Instituto Intercidadania.
      <p>
        O <b>escambo</b> usa <a href="http://noosfero.org">Noosfero</a> <a href="http://github.com/ESCAMBO" >modificado</a>, versão <%= Noosfero::VERSION %>
      </p>
    </div>

    <div>
      <div id="footer-support">
        APOIO
      </div>

      <img src="/designs/themes/escambo/images/logo-intercidadania.png"/>
      <img src="/designs/themes/escambo/images/logo-eita.png"/>
      <img src="/designs/themes/escambo/images/logo-preface.png"/>
    </div>

  </div>
</div>
