
<div id="footer-inner">

  <div id="footer-devel">
    O <b>escambo</b> é desenvolvido e mantido pelo Instituto Intercidadania. Veja o código fonte em <%= link_to 'github.com/ESCAMBO', 'http://github.com/ESCAMBO' %>.
  </div>

  <div>
    <div id="footer-support">
      APOIO
    </div>

    <img src="/designs/themes/escambo/images/logo-intercidadania.png"/>
    <img src="/designs/themes/escambo/images/logo-eita.png"/>
    <img src="/designs/themes/escambo/images/logo-preface.png"/>
  </div>

</div>
