<h1>escambo</h1>
<%= link_to _('home'), '/' %>
<%= link_to _('culture points'), :controller => :search, :action => :enterprises %>
<%= link_to _('offers, interests and knowledges'), :controller => :search, :action => :enterprises %>
<%= link_to _('how it works'), :controller => :search, :action => :enterprises %>

