@import url(../base/style.css);

.clean {
  clear: both;
}

/* Colors */

$c-interest-bg: #F3F5ED;
$c-interest-label: #79A458;
$c-knowledge-bg: #FCF0EE;
$c-knowledge-label: #C37169;
$c-offer-bg: #F1F1F7;
$c-offer-label: #677FB7;

$c-exchange: #394E41;

$c-footer-bg: #FFF386;

/* Widths for paddings, margins and sizes definition */

$base: 12px;
$module: 6*$base;
$intercolumn: 2*$base;

$module1: 1*$module + 1*$intercolumn;
$module2: 2*$module + 1*$intercolumn;
$module3: 3*$module + 2*$intercolumn;
$module4: 4*$module + 3*$intercolumn;
$module5: 5*$module + 4*$intercolumn;
$module6: 6*$module + 5*$intercolumn;
$module7: 7*$module + 6*$intercolumn;
$module8: 8*$module + 7*$intercolumn;
$module9: 9*$module + 8*$intercolumn;
$module10: 10*$module + 9*$intercolumn;

$padding: $intercolumn/2;
$half-padding: $padding/2;
$margin: $intercolumn;
$half-margin: $margin/2;

.padding {
  padding: $padding;
  display: inline-block;
}
.half-padding {
  padding: $half-padding;
}
.no-v-padding {
  padding-top: 0;
  padding-bottom: 0;
}
.no-h-padding {
  padding-left: 0;
  padding-right: 0;
}

/* end */

@font-face { 
  font-family: 'RobotoCondensed';
  src: url('fonts/roboto-condensed-webfont.eot');
  src: url('fonts/roboto-condensed-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/roboto-condensed-webfont.woff') format('woff'),
       url('fonts/roboto-condensed-webfont.ttf') format('truetype'),
       url('fonts/roboto-condensed-webfont.svg#webfont') format('svg');
}
@font-face { 
  font-family: 'RobotoRegular';
  src: url('fonts/roboto-regular.eot');
  src: url('fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/roboto-regular.woff') format('woff'),
       url('fonts/roboto-regular.ttf') format('truetype'),
       url('fonts/roboto-regular.svg#webfont') format('svg');
}
@font-face { 
  font-family: 'RobotoBoldCondensed';
  src: url('fonts/roboto-boldcondensed.eot');
  src: url('fonts/roboto-boldcondensed.eot?#iefix') format('embedded-opentype'),
       url('fonts/roboto-boldcondensed.woff') format('woff'),
       url('fonts/roboto-boldcondensed.ttf') format('truetype'),
       url('fonts/roboto-boldcondensed.svg#webfont') format('svg');
}
@font-face { 
  font-family: 'RobotoBlack';
  src: url('fonts/roboto-black.eot');
  src: url('fonts/roboto-black.eot?#iefix') format('embedded-opentype'),
       url('fonts/roboto-black.woff') format('woff'),
       url('fonts/roboto-black.ttf') format('truetype'),
       url('fonts/roboto-black.svg#webfont') format('svg');
}

/* Paragraphs styles definition */

.pstyle-none {
  font-family: 'RobotoRegular'; /* FIXME to minionpro */
  font-size: 12pt;
}
.pstyle-basic {
  font-family: 'RobotoRegular';
  font-size: 16pt;
}
.pstyle-button {
  font-family: 'RobotoBlack';
  font-size: 16pt;
}
.pstyle-button-small {
  font-family: 'RobotoBoldCondensed';
  font-size: 13pt;
}
.pstyle-title {
  font-family: 'RobotoRegular'; /* FIXME to ubuntu */
  font-size: 72pt;
}
.pstyle-h1 {
  font-family: 'RobotoRegular';
  font-size: 34pt;
}
.pstyle-h2 {
  font-family: 'RobotoCondensed';
  font-size: 26pt;
}
.pstyle-h3 {
  font-family: 'RobotoBlack';
  font-size: 21pt;
}
.pstyle-h4 {
  font-family: 'RobotoBold';
  font-size: 16pt;
}
.pstyle-h5 {
  font-family: 'RobotoBlack';
  font-size: 13pt;
}
.pstyle-title-section {
  font-family: 'RobotoCondensed';
  font-size: 92pt;
}
.pstyle-field {
  font-family: 'RobotoRegular'; /* FIXME CourierNew */
  font-size: 13pt;
}
.pstyle-menu-big-selected {
  font-family: 'RobotoBoldCondensed';
  font-size: 21pt;
}
.pstyle-menu-big-unselected {
  font-family: 'RobotoCondensed';
  font-size: 21pt;
}
.pstyle-menu-medium-selected {
  font-family: 'RobotoBoldCondensed';
  font-size: 16pt;
}
.pstyle-menu-medium-unselected {
  font-family: 'RobotoCondensed';
  font-size: 16pt;
}
.pstyle-menu-small-selected {
  font-family: 'RobotoBoldCondensed';
  font-size: 13pt;
}
.pstyle-menu-small-unselected {
  font-family: 'RobotoCondensed';
  font-size: 13pt;
}
.pstyle-tp4 {
  font-family: 'RobotoRegular';
  font-size: 42pt;
}
.pstyle-tp3 {
  font-family: 'RobotoRegular';
  font-size: 34pt;
}
.pstyle-tp2 {
  font-family: 'RobotoRegular';
  font-size: 26pt;
}
.pstyle-tp1 {
  font-family: 'RobotoRegular';
  font-size: 21pt;
}
.pstyle-tm1 {
  font-family: 'RobotoRegular';
  font-size: 13pt;
}
.pstyle-tm2 {
  font-family: 'RobotoRegular';
  font-size: 10pt;
}

body {
  @extend .pstyle-none;
}

#content .no-boxes h1 {
  @extend .pstyle-h1;
  color: #28370C;
  font-weight: normal;
  font-variant: normal;
  text-align: left;
  border: 0px;
}

p.menu_g_selecionado {
  @extend .pstyle-menu-big-selected;
}

/* Fix to 960px effective content */
#wrap-1 {
  position: relative;
}

#wrap-1,
#footer-content,
#theme-footer {
  width: 1040px;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
}

#wrap-1 {
  background: transparent url(images/content-bg.png) center top repeat-y;
}

#wrap-2 {
  padding: 24px;
  padding-top: 0;
  background: transparent;
  border-color: transparent;
  border: none;
  border-top: 1px solid #D3D7CF;
}

.box-2,
.box-3 {
  width: 220px;
}
body.template-default .box-1 {
  margin: 0 244px 0 244px;
}
body.template-2leftbars .box-1 {
  margin: 0 0 0 488px;
}
body.template-rightbar .box-1 {
  margin: 0 244px 0 0;
}
body.template-leftbar .box-1 {
  margin: 0 0 0 244px;
}

#content .link-list-block li a.link-this-page {
  max-width: none;
}

#profile-activity ul,
#profile-network ul,
#profile-wall ul {
  width: 100%;
}
.ui-tabs .ui-tabs-panel {
  padding: 0;
}

#main-content-wrapper-1,
#main-content-wrapper-2,
#main-content-wrapper-3,
#main-content-wrapper-4,
#main-content-wrapper-5,
#main-content-wrapper-6,
#main-content-wrapper-7,
#main-content-wrapper-8 {
  background: transparent;
  padding: 0;
}

/* end */

body {
  background: none;
  overflow-x: hidden;
}

#top-search {
  display: none;
}

#navigation {
  display: none;
}

#wrap-2 {
  border: none;
}

#user {
  text-align: auto;
  position: inherit;
  right: 0;
  display: inline;
  float: right;
}

.header-button {
  @extend .padding;
  background: #F6FCA6;
  margin: 0 2px;
  margin-bottom: $padding;
  font-weight: bold;
  text-decoration: none;
  color: black;
  &:hover {
    background: #7F005C;
    color: white;
  }
}

#theme-header {
  height: auto;
  position: relative;

  .logged {
    h1 {
      font-size: 100px;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    #user .not-logged-in, #header-links { 
      margin-top: 50px;
    }
  }

  .not-logged {
    h1 {
      font-size: 135px;
    }
    #user .not-logged-in, #header-links { 
      margin-top: 120px;
    }
  }

  h1 {
    color: #E5F600;
    line-height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }

}

#theme-footer {
  background: $c-footer-bg;
  height: 310px;
  width: 100%;
  margin: 0;
  /* FIXME missing top shadow */

  #footer-inner {
    width: 960px;
    margin: auto;
  }

  #footer-devel {
    @extend .pstyle-h4; /* FIXME */
    padding: 40px 0;
  }
  #footer-support {
    @extend .pstyle-h4; /* FIXME */
  }
  #footer-devel b, #footer-support {
    color: $c-exchange;
  }
}

#content h2 {
  @extend .pstyle-h2;
  text-transform: uppercase;
  color: $c-exchange;
  margin-left:25px;
}
#content h3 {
  @extend .pstyle-h3;
}
#content h4 {
  @extend .pstyle-h4;
  text-transform: uppercase;
  color: $c-exchange;
  margin-left:25px;
}
#content h5 {
  @extend .pstyle-h5;
}


#header-links { 
  float: left;
  margin-left: $padding;
}
#user .not-logged-in {
  display: block;
}
#user .not-logged-in a, #header-links a { 
  @extend .header-button;
}
#header-links a {
  z-index: 10;
  position: relative;
  opacity: .7;
}

.user-logged-left {
  float: left;
}

.user-logged-right {
  float: right;
  text-align: left;
  padding: 0 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
  background: #FAF7DC;
  height: 69px;
}
.user-logged-right select {
  width: 160px;
}

#content {
  margin-top: 0;
}

#active-organization {
  background: #7857B8;
  height: 24px;
  width: 100%;
  position: absolute;
  left: 0;
  @extend .half-padding;
  @extend .no-h-padding;

  #active-organization-inner {
    width: 960px;
    margin: auto;

    #organization-ident {
      float: left;
      margin-left: $half-margin;

      img {
        width: 46px;
        height: 46px;
        margin-top: -6px;
        position: absolute;
      }

      h2 {
        margin-left: 58px;
        color: white;
        display: inline;
      }
    }

    #organization-menu {
      float: right;

      .organization-button {
        @extend .half-padding;
        height: $padding;
        display: inline-block;
        font-size: 11px;
        background: #FAF7DC;
        text-decoration: none;
      }
    }
  }
}
#wrap-2 {
  margin-top: 36px;
}

/* escambo button */

.do-escambo-button {
  @extend .pstyle-button-small;
  background: $c-exchange;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: $half-padding $padding;
}

/* end */

.cms-learning-plugin-interest-snippet {
  background: $c-knowledge-bg;
  border: 1px dotted $c-knowledge-label;
  .label {
    background: $c-knowledge-label;
  }
}
.product-snippet {
  background: $c-offer-bg;
  border: 1px solid $c-offer-label;
  .label {
    background: $c-offer-label;
  }
}
.sniffer-plugin-interest-snippet {
  background: $c-interest-bg;
  border: 1px dashed $c-interest-label;
  .label {
    background: $c-interest-label;
  }
}

.escambo-snippet {
  padding: $padding;
  margin-bottom: $half-margin;
  height: 7*$base;

  .first-column {
    display: inline-block;
    width: $module2;
    margin-right: $margin;

    .label {
      text-transform: uppercase;
      padding: $padding;
      color: white;
      margin: -$padding;
      display: inline-block;
    }
  }
  .second-column {
    display: inline-block;
    width: $module6;
    margin-right: $margin;
  }
  .third-column {
    display: inline-block;
    width: $module2;

    .exchange {
      @extend .do-escambo-button;

    }
  }

}

