@import "escambo";

/* Colors */

$color-h2: #7E005D;
$color-h3: #394E41;

$color-interest-bg: #F3F5ED;
$color-interest-label: #79A458;
$color-knowledge-bg: #FCF0EE;
$color-knowledge-label: #C37169;
$color-offer-bg: #F1F1F7;
$color-offer-label: #677FB7;

$color-search-bg: #FAF7DC;

$color-profile-info-bg: #EBF49D;
$color-profile-info-border: #C5AAA5;

$color-footer-bg: #FFF386;

/* Images */
$image-escambo-big: '/designs/themes/escambo/images/escambo-big.png';
$image-escambo-small: '/designs/themes/escambo/images/escambo-small.png';
$image-zoom: '/designs/themes/escambo/images/lupa.png';

.icon {
  width: $base*2.5;        
  height: $base*2.5;
  border: none; /* overwrite application.css */
}
/* overwrite application.css */
.icon:hover {
  border: none;
  cursor: auto;
}

/* Fonts */

@font-face { 
  font-family: 'RobotoBold';
  src: url('fonts/roboto-bold.eot');
  src: url('fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/roboto-bold.woff') format('woff'),
       url('fonts/roboto-bold.ttf') format('truetype'),
       url('fonts/roboto-bold.svg#webfont') format('svg');
}

@font-face { 
  font-family: 'RobotoCondensed';
  src: url('fonts/roboto-condensed-webfont.eot');
  src: url('fonts/roboto-condensed-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/roboto-condensed-webfont.woff') format('woff'),
       url('fonts/roboto-condensed-webfont.ttf') format('truetype'),
       url('fonts/roboto-condensed-webfont.svg#webfont') format('svg');
}
@font-face { 
  font-family: 'RobotoRegular';
  src: url('fonts/roboto-regular.eot');
  src: url('fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/roboto-regular.woff') format('woff'),
       url('fonts/roboto-regular.ttf') format('truetype'),
       url('fonts/roboto-regular.svg#webfont') format('svg');
}
@font-face { 
  font-family: 'RobotoBoldCondensed';
  src: url('fonts/roboto-boldcondensed.eot');
  src: url('fonts/roboto-boldcondensed.eot?#iefix') format('embedded-opentype'),
       url('fonts/roboto-boldcondensed.woff') format('woff'),
       url('fonts/roboto-boldcondensed.ttf') format('truetype'),
       url('fonts/roboto-boldcondensed.svg#webfont') format('svg');
}
@font-face { 
  font-family: 'RobotoBlack';
  src: url('fonts/roboto-black.eot');
  src: url('fonts/roboto-black.eot?#iefix') format('embedded-opentype'),
       url('fonts/roboto-black.woff') format('woff'),
       url('fonts/roboto-black.ttf') format('truetype'),
       url('fonts/roboto-black.svg#webfont') format('svg');
}

/* Paragraphs styles definition */

.pstyle-none {
  font-family: 'RobotoRegular'; /* FIXME to minionpro */
  font-size: 12px;
}
.pstyle-basic {
  font-family: 'RobotoRegular';
  font-size: 16px;
}
.pstyle-button {
  font-family: 'RobotoBlack';
  font-size: 16px;
}
.pstyle-button-small {
  font-family: 'RobotoBoldCondensed';
  font-size: 13px;
}
.pstyle-title {
  font-family: 'RobotoRegular'; /* FIXME to ubuntu */
  font-size: 72px;
}
.pstyle-h1 {
  font-family: 'RobotoRegular';
  font-size: 34px;
  line-height: 34px;
}
.pstyle-h2 {
  font-family: 'RobotoCondensed';
  font-size: 26px;
  line-height: 26px;
}
.pstyle-h3 {
  font-family: 'RobotoBlack';
  font-size: 21px;
  line-height: 21px;
}
.pstyle-h4 {
  font-family: 'RobotoBold';
  font-size: 16px;
  line-height: 16px;
}
.pstyle-h5 {
  font-family: 'RobotoBlack';
  font-size: 13px;
  line-height: 13px;
}
.pstyle-title-section {
  font-family: 'RobotoCondensed';
  font-size: 92px;
  line-height: 92px;
}
.pstyle-field {
  font-family: 'RobotoRegular'; /* FIXME CourierNew */
  font-size: 13px;
  line-height: 13px;
}
.pstyle-menu-big-selected {
  font-family: 'RobotoBoldCondensed';
  font-size: 21px;
  line-height: 21px;
}
.pstyle-menu-big-unselected {
  font-family: 'RobotoCondensed';
  font-size: 21px;
  line-height: 21px;
}
.pstyle-menu-medium-selected {
  font-family: 'RobotoBoldCondensed';
  font-size: 16px;
  line-height: 16px;
}
.pstyle-menu-medium-unselected {
  font-family: 'RobotoCondensed';
  font-size: 16px;
  line-height: 16px;
}
.pstyle-menu-small-selected {
  font-family: 'RobotoBoldCondensed';
  font-size: 13px;
  line-height: 13px;
}
.pstyle-menu-small-unselected {
  font-family: 'RobotoCondensed';
  font-size: 13px;
  line-height: 13px;
}
.pstyle-tp4 {
  font-family: 'RobotoRegular';
  font-size: 42px;
  line-height: 42px;
}
.pstyle-tp3 {
  font-family: 'RobotoRegular';
  font-size: 34px;
  line-height: 34px;
}
.pstyle-tp2 {
  font-family: 'RobotoRegular';
  font-size: 26px;
  line-height: 26px;
}
.pstyle-tp1 {
  font-family: 'RobotoRegular';
  font-size: 21px;
  line-height: 21px;
}
.pstyle-tm1 {
  font-family: 'RobotoRegular';
  font-size: 13px;
  line-height: 13px;
}
.pstyle-tm2 {
  font-family: 'RobotoRegular';
  font-size: 10px;
  line-height: 10px;
}

/* Overwrites and general styles */

body {
  @extend .pstyle-none;
  background: none;
  overflow-x: hidden;
}

h1, #content h1 {
  @extend .pstyle-h1;
  text-align: left;
}
h2, #content h2 {
  @extend .pstyle-h2;
  text-transform: uppercase;
  color: $color-h2;
}
h3, #content h3 {
  @extend .pstyle-h3;
  text-transform: uppercase;
  color: $color-h3;
  font-weight: 300;
}
h4, #content h4 {
  @extend .pstyle-h4;
  text-transform: uppercase;
  color: $color-h3;
  font-weight: 300;
}
h5, #content h5 {
  @extend .pstyle-h5;
  text-transform: uppercase;
  color: $color-h3;
  font-weight: 300;
}

table {
  width: auto;
}
tr:hover td {
  background:transparent;
}
th, td {
  @extend .pstyle-none;
  height: auto;
  padding: 0;
  border: none;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  margin: 0;
  padding: 0 $padding;
  margin-bottom: $half-margin;
}

label, .formlabel {
  padding: 0;
  padding-bottom: $padding;
  font-weight: bold;
  color: black;
}

input[type=text] input[type=password], .formfield input[type=text], .formfield input[type=password],
textarea, .formfield textarea {
  width: $module3;
  padding: ($half-padding - $border) ($padding - $border);
  text-indent: 0;
  margin-bottom: $half-margin;

  background: none;
  border: $border solid #999;
  border-radius: 3px;
  @extend .pstyle-field;
  color: inherit;
}

.controller-content_viewer .no-boxes, .controller-profile .no-boxes {
  margin: 0;
}
.controller-search #search-column-left {
  display: none;
}
.controller-search #search-column-right {
  float: none;
  width: auto;
}

/* end */

/* Fix to 960px effective content */
#theme-header,
#profile-line-wrap-2,
#wrap-1,
#footer-wrap-1,
#legend-wrap-2, {
  width: $wireframe;
  margin: auto;
}

#theme-header-wrap,
#profile-line,
#footer-wrap-2,
#legend, {
  padding: 0 $padding;
}
#theme-header-wrap,
#profile-line {
  padding-right: 0;
}

#content {
  margin-top: 0;
  min-height: 500px; /* put the header in the end */
}
#wrap-1 {
  position: relative;
}
#wrap-2 {
  background: transparent;
  border: none;
}

.box-2,
.box-3 {
  width: 220px;
}
body.template-default .box-1 {
  margin: 0 244px 0 244px;
}
body.template-2leftbars .box-1 {
  margin: 0 0 0 488px;
}
body.template-rightbar .box-1 {
  margin: 0 244px 0 0;
}
body.template-leftbar .box-1 {
  margin: 0 0 0 244px;
}

#content .link-list-block li a.link-this-page {
  max-width: none;
}

#profile-activity ul,
#profile-network ul,
#profile-wall ul {
  width: 100%;
}
.ui-tabs .ui-tabs-panel {
  padding: 0;
}

#main-content-wrapper-1,
#main-content-wrapper-2,
#main-content-wrapper-3,
#main-content-wrapper-4,
#main-content-wrapper-5,
#main-content-wrapper-6,
#main-content-wrapper-7,
#main-content-wrapper-8 {
  background: transparent;
  padding: 0;
}

/* end */

/* Theme structure */

#top-search,
#navigation {
  display: none;
}
#wrap-2 {
  border: none;
}

.header-button {
  display: inline-block;
  padding: $padding;
  background: #F6FCA6;
  margin-right: $half-padding;
  margin-bottom: $padding;
  font-weight: bold;
  text-decoration: none;
  color: black;

  &:hover {
    background: #7F005C;
    color: white;
  }
}

#theme-header {
  position: relative;

  #logo {
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
  }

  .logged {
    #logo {
      background: url($image-escambo-small);
      width: 403px;
      height: 71px;
    }
    #user .not-logged-in, #header-links { 
      margin-top: 4*$base;
    }
  }
  .not-logged {
    #logo {
      background: url($image-escambo-big);
      width: 696px;
      height: 123px;
      margin-top: 2.5*$base;
    }
    #user .not-logged-in, #header-links { 
      margin-top: 10*$base;
    }
  }

  h1 {
    color: #E5F600;
    line-height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }

  #theme-header-wrap {

    &.logged {
    }
    &.not-logged {
    }

    #header-links { 
      float: left;

      a {
        z-index: 10;
        position: relative;
        opacity: .7;
      }
    }

    #user .not-logged-in a, #header-links a { 
      @extend .header-button;
    }

    #user {
      text-align: auto;
      position: inherit;
      right: 0;
      display: inline;
      float: right;

      .logged-in {
        @extend .container-clean;
        border: $border solid black;
        border-top: none;
        background: #FAF7DC;
      }
      .logged-in, .not-logged-in {
        display: block;
      }

      .user-logged-left {
        float: left;

        .profile-image {
          height: 7*$base;
          width: 7*$base;
        }
      }

      .user-logged-right {
        float: right;
        height: 4*$base + $padding;
        padding: $padding - $border;
        font-weight: bold;
        text-align: left;

        > * {
          margin-bottom: $half-padding;
        }

        select {
          width: $module2;
        }
      }
    }
  }
}

#profile-line-wrap-1 {
  $height: $margin;

  background: #7857B8;
  height: $height;
  padding: $half-padding 0;
  margin-bottom: $margin;

  &.active-organization {
    $image-size: 4*$base;

    img {
      float: left;
      margin-right: $half-margin;
      margin-top: -$half-padding;
      width: $image-size;
      height: $image-size;
    }
    .profile-name {
      float: left;
    }

    #organization-menu {
      float: right;
    }
  }

  &.profile-header {
    $image-size: 10*$base;
    padding-right: $padding;

    #profile-line-wrap-2 {
      width: 100%;
    }
    margin-top: ($image-size/2 - $height/2) + $half-margin;
    margin-bottom: ($image-size/2 - $height/2) + $half-margin;

    img {
      float: right;
      margin-left: $half-margin;
      margin-top: -($image-size/2 - $height/2);
      width: $image-size;
      height: $image-size;
    }
    .profile-name {
      float: right;
    }

    #organization-menu {
      float: left;
    }
  }

  img {
  }
  .profile-name {
    line-height: 2*$base;
    color: white;
  }

  #organization-menu {

    .organization-button {
      height: $padding;
      padding: $half-padding;
      display: inline-block;
      font-size: 11px;
      background: #FAF7DC;
      text-decoration: none;
    }
  }
}

#theme-footer {
  background: $color-footer-bg;
  height: 310px;
  width: 100%;
  margin: 0;
  /* FIXME missing top shadow */

  #footer-devel {
    @extend .pstyle-h4; /* FIXME */
    padding: 40px 0;
  }
  #footer-support {
    @extend .pstyle-h4; /* FIXME */
  }
  #footer-devel b, #footer-support {
    color: $color-exchange;
  }
}

/* end */

/* Buttons and inputs */

.action-button {
  @extend .exchange-action-button;
}
.exchange-action-button {
  @extend .pstyle-button-small;
}

.search-box {
  @extend .sniffer-search-box;
}

.search-field {
  @extend .sniffer-search-field;

  .search-input {
    @extend .sniffer-search-input;
  }
  .search-submit {
    @extend .sniffer-search-submit;
  }
}

/* Snippets */

.cms-learning-plugin-learning-snippet {
  background: $color-knowledge-bg;
  border: $border dotted $color-knowledge-label;
  .label {
    background: $color-knowledge-label;
  }
}
.product-snippet {
  background: $color-offer-bg;
  border: $border solid $color-offer-label;
  border-radius: 5px;
  .label {
    background: $color-offer-label;
  }
}
.sniffer-plugin-interest-snippet {
  background: $color-interest-bg;
  border: $border dashed $color-interest-label;
  .label {
    background: $color-interest-label;
  }
}

.escambo-snippet {
  padding: $padding - $border;
  margin-bottom: $half-margin;
  min-height: 7*$base;
  position: relative;

  .first-column, .second-column, .third-column {
    float: left;
  }
  .first-column {
    width: $module2;
    margin-right: $margin;
    min-height: $module;
    background-size: $module;
    background-position: center;

    .label {
      text-transform: uppercase;
      padding: $padding;
      margin: -($padding - $border);
      color: white;
      display: inline-block;
    }
  }
  .second-column {
    width: $module6;
    margin-right: $margin;

    .descripxion, .local {
      margin-top: $margin;
      @extend .pstyle-tm2;
    }
  }
  .third-column {
    width: $module2;
    margin-bottom: $margin;
  }

  .exchange {
    position: absolute;
    bottom: $padding;
    right: $padding;
  }

}

/* Search */

#escambo-search-form {
  @extend .search-box;
  margin: -$padding;
  margin-top: $margin;
  margin-bottom: $margin;

  form {
    .search-field {
      #search-input {
        @extend .search-input;
      }
      input[type=submit] {
        @extend .search-submit;
      }
    }
  }
}

#search-results {
  li.search-profile-item {
    display: inline-block;
    margin-bottom: $margin;
    margin-right: $half-margin;
  }
}

/* end */

#escambo-enterprise-items {
  float: left;
  width: $module7 + $padding;
  margin-right: $half-margin;

  h3 {
    display: inline-block;
    padding-left: $padding;
  }
  .see-all {
    @extend .pstyle-tm1;
  }
  .add {
    margin-right: $half-margin;
  }

  #offers {
  }

  .escambo-snippet {
    .second-column {
      width: $module3;
    }
    .third-column {
      width: $module2 - $padding;
    }
  }
}
#escambo-enterprise-info {
  float: left;
  
  h3 {
    visibility: hidden;
  }
  .sidebar { 
    width: $module3;
    padding: $padding - $border;
    border: $border solid $color-profile-info-border;
    background: $color-profile-info-bg;

    h4 {
      padding: 0;
    }

    .info, .evaluation, .members {
      border-bottom: $border solid $color-profile-info-border;
      padding-bottom: $padding;
      margin-bottom: $padding;
    }

    .info {

      .state, .city, .address, .phone1, .phone2, .email, .site {
        float: none;
        clear: both;
        margin-bottom: $margin;
      }
      .state, .city, .phone1, .phone2 {
        float: left;
        clear: none;
        display: inline-block;
        width: $module;
      }
      .state, .phone1 {
        margin-right: $margin;
      }
      .city {
        width: $module2;
      }

      .label {
        font-weight: bold;
      }

      .contact-button a {
        @extend .exchange-action-button;
        display: block;
      }
    }
  }
}

/* Sniffer */
.action-sniffer_plugin_myprofile-search {
  #profile-line-wrap-1 {
    margin-bottom: 0;
    
    img.profile-image {
      z-index: 1000;
      position: relative;
    }
  }

  #content {
    padding: 0;
  }
}

/* Exchange */

// FIXME move to exchange
p.menu_g_selecionado {
  @extend .pstyle-menu-big-selected;
  line-height: 0;
}

.evaluations{
  display: inline-block;
  margin: 2*$base $base;
}

/* Signup */

#signup-form {

  h1 {
    padding: 0;
  }

  .help-text {
    @extend .pstyle-tp1;
  }
}
#content #signup-form .submit {
  @extend .action-button;
  @extend .pstyle-tp1;
}
