@font-face {
    font-family: 'RobotoRegular';
    src: url('roboto-regular.eot');
    src: url('roboto-regular.eot') format('embedded-opentype'),
         url('roboto-regular.woff') format('woff'),
         url('roboto-regular.ttf') format('truetype'),
         url('roboto-regular.svg#RobotoRegular') format('svg');
}
